:host {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 30px;
  }
 button[_ngcontent-c1]{
     background-color:black;
     color:white;
     width: 200px;
     height: 50px;
 }

 .card {
    border: 1px solid white;
    background-color: black;
    margin: 0 10px 5px 10px;
    width: 20%;
    height: 20%;
    display: inline-block;
}

.card-body {
    margin: 0 20px 5px 20px;
}

.card-body-text {
   
    border: 1px solid white;
    background-color: black;
    color:white;
}

.image-card-body {
    width: 100%;
    height: 130%;
}

.container {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 50px;
    background: transparent;
}

#displayBikesContainer {
    width: 100%;
    
}

#displayBikesContainer div {
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    
}
<<<<<<< HEAD
.row{
    display:inline-flex;
    font-size: 15px;
}
=======
>>>>>>> 56639961bdb4ab483c2649e64f386362832e9083

